<h2>String interpolation</h2>
<p>{{stringInterpolation}} | {{numberInterpolation}}</p>
<h2>property binding</h2>
<div>
<input type="text" value="{{stringInterpolation}}">
<p [ngClass]="{redBorder: true}">This is styled with ngClass</p>
<p [ngStyle]="{color: 'green'}">This is styled with ngStyle</p>
</div>