<h1>
  {{title}}
</h1>
<p>above a dynamic var is displayed which is title attribute</p>
<app-second></app-second>
<app-third>
    <ng-content></ng-content>
</app-third>
<app-databinding><ng-content></ng-content></app-databinding>
<h3>Custom property binding</h3>
<app-property-binding [result]="10"></app-property-binding>
<h3>Event binding</h3>
<app-event-binding (clicked)="onClicked($event)"></app-event-binding>
<h3>Two-way binding</h3>
<app-two-way-binding><ng-content></ng-content></app-two-way-binding>
<br><br><br><br>
<h3>Lifecycle</h3>
<app-lifecycle *ngIf="!delete" [bindable]="boundValue"></app-lifecycle>
<button (click)="delete = true">Click to delete</button>
<p>{{test}}</p>
<button (click)="test = 'changed value'">Click to change</button>
<button (click)="boundValue = 2000">Click to change binding</button>
